*[class^="grid"]{
  display: grid;
}
.grid-home{
  grid-template-columns: 70% 30%;
}
.grid-item{
  grid-template-columns: 33.33% 33.33% 33.33%;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}
