{% extends '::base.html.twig' %}

{% block body -%}
    <div class="grid-home">
        <div class="grid-item">
                {% for entity in entities %}
                        <div class="post">
                            {% if entity.images.path is empty %}
                                <h5>Aucune image</h5>
                            {% else %}
                                <img src="{{ asset(entity.images.AssetPath) }}" alt="{{ entity.images.name }}">
                            {% endif %}
                            <h3>
                                <a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.title }}</a>
                            </h3>
                        </div>
                {% endfor %}
        </div>
        <div>
            <form class="" action="index.html" method="post">
                <input type="text" name="" value="aaaaaa">
            </form>
        </div>
    </div>
{% endblock %}
