{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Creer un post</h1>
<form method="post" {{ form_enctype(form) }}>
    {{ form(form) }}
</form>

        <ul class="record_actions">
</ul>
{% endblock %}
